@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mentoria Quinta Feiras 20H</h1>
    <p>saiba mais <a href="https://docs.microsoft.com/aspnet/core">Arquitetura de Software</a>.</p>
</div>
